@import 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free';

// ul {
//     list-style-type: none;
//     a {
//         text-decoration: none;
//         color: white;
//     }
// }

.hide{
    display:none;
}

.cutText {
    display: block;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}